{% extends 'base.html' %}
{% load static %}

{% block style_reference %}
<link rel="stylesheet" href="{% static 'css/planPage.css' %}">
{% endblock style_reference %}

{% block script_reference %}
<script src="https://js.stripe.com/basil/stripe.js"></script>
<script src="{% static 'js/planPage.js' %}"></script>
{% endblock script_reference%}

{% block content %}
<section class="pricing-section">
    <div class="pricing-container">
        <div class="pricing-grid">
            {% for plan in plans %}
            <div class="pricing-card">
                <div class="plan-header">
                    <h2 class="plan-title">
                        {{plan.name}} 
                    </h2>
                </div>

                <div class="plan-pricing">
                        <div class="price-section">
                            <div class="price-display">
                                <span class="price-amount">${{plan.price}}</span>
                                <span class="price-period">{{plan.billing_cycle}}</span>
                            </div>
                        </div>
                </div>

                <div class="plan-cta">
                    <button class="purchase-btn" id="{{plan.id}}">
                        Purchase
                    </button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}